.navBarWrapper {
  width: 100%;
  margin: auto;
  height: 10rem;
  position: relative;
}
.navBarLayer1 {
  width: 100%;
  background-color: black;
  margin: auto;
  height: 20%;
  display: flex;
  justify-content: space-around;
}
.navBarLayer1Actions {
  /* padding-top: 0.1rem; */
  cursor: context-menu;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 60%;
}
.navBarLayer1Support {
  display: flex;
  justify-content: space-around;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  align-items: center;
}
.navBarLayer1Signin {
  display: flex;
  justify-content: space-around;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  align-items: center;
}
.navBarLayer1Wishlist {
  display: flex;
  justify-content: space-around;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  align-items: center;
}
.navBarLayer1CreateAcc {
  display: flex;
  justify-content: space-around;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  align-items: center;
}
.navBarLayer2 {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  background-color: white;
  margin: auto;
  height: 55%;
  border-bottom: 1px solid rgb(236, 235, 235);
  display: flex;
  justify-content: space-around;
  /* overflow: hidden; */
}
.navBarLayer2logo {
  overflow: hidden;
}
.navBarLayer2SearchDiv {
  border: 1px solid rgb(188, 186, 186);
  width: 30%;
  margin: auto;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  /* height: 60%; */
}
.navBarLayer2Search {
  width: 90%;
  height: 60%;
}
.navBarLayer2Search > input {
  /* outline: none; */
  border: none;
  height: 100%;
  width: 90%;
  color: rgb(101, 100, 100);
  margin-left: 20px;
  text-align: left;
}
.navBarLayer2SearchIcon {
  width: 10%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBarLayer2Cart {
  display: flex;
}
.navBarLayer3 {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(196, 193, 193);
  height: 20%;
}
.navBarLayer3RoutesDiv {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 2.5rem;
  height: 100%;
}
.navBarLayer3Routes {
  display: flex;
  padding: 0.2rem;
  align-items: center;
}
.navBarLayer3Routes {
  color: black;
  text-decoration: none;
}
/* .navBarLayer3RoutesDiv div {
  height: inherit;
} */
.navBarLayer3Routes:hover {
  background-color: black;
}

.navBarLayer3Routes:hover {
  color: white;
}
.navBarLayer3RoutesDivMain:hover {
  background-color: black;
}

.navBarLayer3RoutesDivMain:hover {
  color: white;
}
.navBarLayer3RoutesDivMain {
  display: flex;
  padding: 0.2rem;
  align-items: center;
}
.navBarLayer3RoutesDivMaincontent {
  display: None;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 0;
  left: 0;
}
.navBarLayer3RoutesDivMaincontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}
.navBarLayer3RoutesDivMain:hover .navBarLayer3RoutesDivMaincontent {
  margin-top: 9.5rem;
  margin-left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: inherit;
  font-weight: 200px;
  text-align: center;
}
.navBarLayer3RoutesDivMaincontent a:hover {
  background-color: #ddd;
}
