.homeDivMain > div {
  width: 98%;
  margin: auto;
  margin-bottom: 30px;
}
.homeDivZero > .homeCenter {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
}
.homeCenter {
  text-align: center;
}
.homeDiv3,
.homeDiv6 {
  display: flex;
  margin: auto;
  /* border: 1px solid red; */
  text-align: center;
}

.homeDiv3inner > h5 {
  margin-top: 15px;
}

.homeDiv3inner {
  width: 48%;
  margin-right: 5%;
}

.home_imgg {
  width: 99%;
}

.homeDivinneright {
  text-align: justify;
  margin-left: 5%;
  width: 50%;
}

.overlay-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 15px;
}

.overlay-img-box {
  position: relative;
  width: 430px;
  overflow: hidden;
}

.overlay-img-box img {
  width: 100%;
}

.img-overlay {
  position: absolute;
  bottom: min(-35%, -200px);
  width: 100%;
  background-color: rgb(146, 141, 141, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.3s;
}
.overlay-img-box:hover .img-overlay {
  bottom: 5px;
}
.img-overlay > * {
  transition: transform 0.3s;
}

.img-overlay:hover {
  opacity: 1;
}

.img-overlay > button:hover {
  transform: translateY(0);
  background-color: white;
  color: black;
}

.img-overlay > button {
  background-color: rgb(146, 141, 141, 0.6);
  padding: 10px;
  height: 35px;
  color: white;
  border: 1px solid white;
  margin: 2px 0;
  width: 40%;
}

.img-desc {
  text-align: center;
}

.home-btn {
  width: 150px;
  height: 25px;
  margin-top: 15px;
  text-align: center;
  border: 1px solid gainsboro;
}
