/* @import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap"); */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}

html {
  font-size: 55.5%;
} */

/* :root {
  --main-color: #333;
  --primary-color: #acacac;
  --icon-color: #525252;
} */

i {
  width: 2rem;
  height: 2rem;
}

.fa,
.fas {
  font-weight: 900;
  display: grid;
  place-items: center;
  font-size: 1rem;
  cursor: pointer;
}

/* body {
  width: 80%;
  height: 100vh;
  margin: auto;
} */

.continueshopping {
  display: flex;
  height: inherit;
  align-items: center;
}

.continueshopping .arrowicon {
  width: 1rem;
  height: 1rem;
  margin-left: 20px;
}

.continueshopping h3 {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-left: 1.5rem;
  font-weight: 400;
}

.carticon {
  display: flex;
  text-align: end;
  margin-right: 2rem;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}

.carticon img {
  width: 2rem;
  height: 2rem;
  color: #2f80ed;
}

.carticon p {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: -0.4rem;
  top: 0rem;
  border-radius: 50%;
  background: #99cbf7;
  color: #fff;
  box-sizing: border-box;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.maincartsection h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: rgba(41, 41, 41, 1);
  margin-bottom: 1rem;
  margin-left: 150px;
}

.maincartsection .totalitems {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 2rem;
  margin-left: 150px;
}

.totalitemscount {
  font-weight: bold;
  color: var(--main-color);
}

/* cart main div start  */

.maincartsection .cartitems {
  width: 80%;
  height: 60rem;
  background: linear-gradient(
    103.49deg,
    #ffffff -28.13%,
    rgba(242, 247, 255, 0.5) 116.84%
  );
  box-shadow: rgba(15, 12, 20, 0.15) 0rem 0.4rem 1.2rem;
  border-radius: 2rem;
  margin: auto;
  margin: auto;
  display: grid;
  place-items: center;
}

.cartitems hr {
  margin: 2rem auto;
  overflow-y: scroll;
}

.cartitemscontainer {
  width: 90%;
  height: 56rem;
}

.itemsinfo {
  width: 100%;
  height: 11rem;
  /* background-color: lavender; */
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.itemsinfo .productimg img {
  width: 12rem;
  height: 10rem;
  filter: drop-shadow(0rem 0.4rem 1rem #f1f7ff);
  border-radius: 1rem;
}

.itemsinfo .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.itemsinfo .title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: var(--main-color);
  margin-left: 10px;
}

.itemsinfo .title p {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-align: left;
  color: var(--primary-color);
}

.addminusquantity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.addminusquantity button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.addminusquantity input {
  width: 3rem;
  height: 1rem;
  border: 0.141rem solid var(--primary-color);
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
  margin: 0 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
}

.addminusquantity input:focus {
  outline: none;
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--main-color);
}

.remove-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5rem;
}

.removeitem button {
  border: none;
  background-color: transparent;
}

.cardtotal {
  width: 85%;
  margin-top: 4rem;
  text-align: right;
}

.cardtotal h3 {
  font-style: 200;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  color: #606166;
}

.cardtotal h3 span {
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  color: #000000;
  margin-left: 1rem;
}

.cardtotal button {
  border: none;
  font-size: 0.9rem;
  padding: 1rem 3rem;
  color: #fff;
  background-color: #349bf3;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 50px;
  border-radius: 0.5rem;
  cursor: pointer;
  letter-spacing: 1px;
}

/* hover effects  */
.fatrashalt {
  color: #ed4848;
}

.faplus:hover {
  color: #42c157;
}

.faminus:hover {
  color: #ffb800;
}

.faplus,
.fa-minus {
 background-color: white;
}

.cardtotal button:hover {
  background-color: #0077dc;
}

.cardtotal .clearcart {
  margin-left: 3rem;
  background-color: rgb(209, 61, 61);
}

.cardtotal .clearcart:hover {
  background-color: rgb(197, 5, 5);
}
