

.controls {
  margin-left: 115px;
  height: 50px;
  width: 41.4%;
  margin-top: 0%;
  display: flex;
}
.slide1 {
  font-size: 20px;
  margin-right: 30px;
  font-weight: 700;
  margin-top: 10;
  text-align: center;
  padding: 15px 5px;
  cursor: pointer;
}
.slide1:hover {
  background-color: black;
  color: white;
}
.slide2 {
  font-size: 20px;
  margin-right: 30px;
  margin-top: 10;
  text-align: center;
  padding: 15px 5px;
  font-weight: 700;
}
.slide2:hover {
  background-color: black;
  color: white;
}
.slide3 {
  font-size: 20px;
  margin-right: 20px;
  margin-top: 10;
  text-align: center;
  padding: 15px 5px;
  font-weight: 700;
}
.slide3:hover {
  background-color: black;
  color: white;
}
.slide4 {
  font-size: 20px;
  margin-top: 10;
  text-align: center;
  padding: 15px 6px;
  font-weight: 700;
}
.slide4:hover {
  background-color: black;
  color: white;
}

#carousel:hover .left-arrow,
#carousel:hover .right-arrow {
  visibility: visible;
}
